:root {
  --lightGray: #353535;
  --darkGray: #252525;
  --offWhite: #f3f0e7;
  --fontColor: #252525;
  --borderColor: #dad6cd;
  --backgroundWhite: #fafaf5;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--fontColor);
  color-scheme: light dark;
  background-color: var(--backgroundWhite);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --mainColor: #9d8ebe;
  --btnColor: color-mix(in lab, var(--mainColor) 70%, var(--backgroundWhite) 30%);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--fontColor)
}

input {
  accent-color: var(--mainColor);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  color: var(--fontColor);
  padding: 0;
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: none;
  cursor: pointer;
  min-height: 40px;
  border-radius: 8px;
  flex-grow: 0 1;
}
button:hover {
  color: var(--btnColor);
}
button:disabled{
  cursor: not-allowed;
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --lightGray: #f3f0e7; */
    /* --darkGray: #dad6cd; */
    --fontColor:#f3f0e7;
    --backgroundWhite: #252525;
    --borderColor: #252525;
    --offWhite: #454545;

  } 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}